@model ECommerceApp.PresentationLayer.Modules.Account.ViewModel.LoginViewModel
@{
    ViewData["Title"] = "Login";
    var returnUrl = ViewData["ReturnUrl"] as string;
}

<h1 class="mb-3">Login</h1>

<form asp-action="Login" method="post" asp-route-returnUrl="@returnUrl">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" autocomplete="username" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" autocomplete="current-password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3 form-check">
        <input asp-for="RememberMe" class="form-check-input" />
        <label asp-for="RememberMe" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <a asp-action="Register" asp-route-returnUrl="@returnUrl" class="btn btn-link">Register</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}